@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// palette
$light-blue: #88c9f9;
$mid-blue: #72a7cf;
$dark-blue: #363c4c;
$dark-green: #5c913b;