<div class="infographic-container">
    <!-- <div class="header">
        <h1>E-WASTE</h1>
        <hr/>
        <h3>Where does it go, what are the impacts, and what can we do to help?</h3>
    </div> -->

    <div class="section1">
        <h3 class="text1">In 2019, we generated <span class="stat">56.3 million metric tons</span> of electronic waste globally.</h3>
        <div class="text2">
            <div class="earth" [ngStyle]="rotationCss"></div>
            <h3><span class="stat">17.4%</span> was properly recycled. <br/>What happened to the rest?</h3>
        </div>
        <h3 class="text3">
            High-income nations like the <span class="stat">United States</span> send most of their e-waste one of two places:
        </h3>
    </div>

    <div class="section2">
        <div class="exportation">
            <div class="overseas-icon"></div>
            <div class="bullet bullet1">
                <p>1. OVERSEAS</p>

                <p>E-waste is often exported to countries like China, India, and Ghana for processing.</p>
            </div>
            <div class="bullet bullet2">
                <p>E-waste sent overseas is delivered to recycling plants where precious metals are extracted for resale.</p>
            </div>
            <div class="bullet bullet3">
                <p>Trade and recycling of e-waste overseas is often unregulated, leading to dangerous recycling practices.</p>
            </div>
            <div class="bullet bullet4">
                <p>Burning of electronic components during processing creates fumes that expose workers to dangerous heavy metals.</p>
            </div>
        </div>
        <div class="landfill">
            <div class="landfill-icon"></div>
            <div class="bullet bullet1">
                <p>2. LANDFILL</p>
                <p>The rest goes to the landfill. In the US, E-waste makes up 70% of hazardous waste in landfills.</p>
            </div>
            <div class="bullet bullet2">
                <p>Precious metals cannot be recovered for reuse from e-waste in landfills.</p>
            </div>
            <div class="bullet bullet3">
                <p>The precious materials in discarded electronics are limited resources that should be recovered and reused.</p>
            </div>
            <div class="bullet bullet4">
                <p>Heavy metals from e-waste in landfills can leach into groundwater, causing adverse health effects for surrounding communities.</p>
            </div>
        </div>

    </div>

    <div class="section3">
        <h3>Both of these options have consequences. <span class="stat">The solution? </span>Reduce your impact!</h3>

        <div class="solution1">
            <div class="phone-icon"></div>
            <h3>1. <span class="stat">Hold onto your electronics! </span>Reduce your footprint by using your devices for as long as possible before replacing them.</h3>
        </div>

        <div class="solution2">

            <div class="gift-icon"></div>
            <h3>2. <span class="stat">Pass it on! </span>Consider giving unused devices to friends or family -- or, look for programs that donate old electronics. <sup>1</sup></h3>
        </div>

        <div class="solution3">
            <div class="recycle-icon"></div>
            <h3>3. <span class="stat">Do your research! </span>Find local e-waste drop-off events or facilities and ensure your electronics are recycled properly. <sup>2</sup></h3>
        </div>
    </div>

    <div class="sources">
        <h3>Resources:</h3>
        <ol>
            <li><a class="resources" href="https://www.mass.gov/lists/donation-reuse#electronics">MASS.GOV Donation and Reuse</a></li>
            <li><a class="resources" href="https://www.boston.gov/departments/public-works/recycling-household-electronics">Boston Electronics Recycling Program</a></li>
        </ol>
        <h3>Sources:</h3>
        <ol>
            <li>“Global E-waste Statistics Partnership.” 2020. [Online]. Available: <a href="https://globalewaste.org/">https://globalewaste.org/</a>.</li>
            <li>“E-Waste State of the Union: Recycling Facts, Figures and the Future,” Investment Recovery Association, 09-Jan-2020. [Online]. Available: <a href="https://invrecovery.org">https://invrecovery.org</a>.</li>
            <li>R. R. Srivastava, S. Ilyas, H. Kim, S. Choi, H. B. Trinh, M. A. Ghauri, and N. Ilyas, “Biotechnological recycling of critical metals from waste printed circuit boards,” Journal of Chemical Technology & Biotechnology, May 2020. doi: 10.1002/jctb.6469</li>
            <li>Icons made by
                <a href="https://www.flaticon.com/authors/turkkub" title="turkkub">turkkub</a>,
                <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>,
                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
                <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a>,
                <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
        </ol>
        <hr/>
        <p>&#169; 2020 Maya Prebish, Domenic Privitera, Yale Zhao</p>
    </div>

</div>